<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>product list</h2>
        <table border="1" style="max-width: max-content;">
            <thead>
                <th> title </th>
                <th> price </th>
                <th> Action </th>
            </thead>
            <tbody>
                {% for item in products %}
                    <tr>
                        <td> {{ item.author }} </td>
                 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>